@page "/DetallesMetas"
@page "/DetallesMetas/{MetasId:int}";
@using System.Linq.Expressions
@inject MetaServices metaServices
@rendermode InteractiveServer
@inject NavigationManager navigationManager;


<PageTitle>Detalles de las Metas</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><b>Detalles de las Metas</b></h3>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Descripci&oacute;n</th>
						<th>Fecha</th>
						<th>Monto</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>@metas.MetaId</td>
							<td>@metas.Descripcion</td>
							<td>@metas.Fecha.ToShortDateString()</td>
							<td>@metas.Monto.ToString("N2")</td>
							<td> </td>
						</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-outline-secondary " @onclick="Volver "> <i class="bi bi-arrow-return-left" /> Volver</button>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int MetasId { get; set; }
	public Metas metas { get; set; } = new Metas();

	protected override void OnInitialized()
	{
		if (MetasId > 0)
		{
			this.metas.MetaId = MetasId;
			Buscar();
		}
	}

	public async void Buscar()
	{
		var metaEncontrado = await metaServices.Buscar(metas.MetaId);
		if (metaEncontrado != null)
		{
			this.metas = metaEncontrado;
		}
	}

	public void Volver()
	{
		navigationManager.NavigateTo("Metas");
	}
}